@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@media (width < 900px) {
  #siteName {
    visibility: hidden;
  }

}
.tabs {
  overflow: hidden;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;

}

.container {
  display: flex;
  height: 5rem;
  align-items: flex-end;
  flex-shrink: 0;
  
}

.icons {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .2rem;


}

.selected {
  display: flex;
  height: 3rem;
  width: 9rem;
  align-items: center;
  justify-content: center;
  background: white;
  gap: 1rem;
 

  /* font: */
  color: var(--Dark, #222);
  font-family: Segoe UI;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 0.75rem 0.75rem 0rem 0rem;
}

.notSelected {
  display: flex;
  height: 3rem;
  width: 9rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0f0f0;
  gap: 1rem;
  

  /* font: */
  color: var(--Dark, #222);
  font-family: Segoe UI;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  border: 1px solid #dbdbdb;

/* Set the desired scale value for elements with the notSelected class */
  transition: box-shadow .5s,  opacity 0.15s, background-color 0.15s, color 0.15s, transform .5s ease;

}

.notSelected:hover {
  box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.1),
               5px 2px 10px rgba(0, 0, 0, 0.1);
   /* Set the scale value for elements with the notSelected class on hover */
}

.content{
  display:flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
}