@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

@media (max-width: 450px) {
  tabs {
    width:100%;
    overflow: hidden;
    &.teams {
      font-family: $ms-font-family-fallbacks;
    }
    display: flex;
  }

.container{width:66%;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

  .popup {
    height: 25rem;
    width:80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Segoe UI;
    box-sizing: border-box; 
  }

  input[type="radio"]{
    display: none;
    width: 0;
  }
  .marker{
    height: 75%;
    width: 80%;
    position: absolute; 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    transition: transform .2s ease-in-out;
    top:0;
    z-index: 0;
  }
}

@media (max-width: 950px) {
.tabs {
  overflow: hidden;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

  #siteName {
    visibility: hidden;
  }
  .icons {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: -4.6rem;
  }

  .selected {
    display: flex;
    height: 4.5rem;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 1rem;
   
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    border-radius: 0.75rem 0.75rem 0rem 0rem;
  }

  .notSelected{
    display: flex;
    height: 4.5rem;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    gap: 1rem;
    
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    border: 1px solid #dbdbdb;
  
  /* Set the desired scale value for elements with the notSelected class */
    transition: box-shadow .5s,  opacity 0.15s, background-color 0.15s, color 0.15s, transform .5s ease;
  }
}

@media (width>900px){
  .selected {
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 1rem;
   
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    border-radius: 0.75rem 0.75rem 0rem 0rem;
  }

  .notSelected {
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    gap: 1rem;
    
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    border: 1px solid #dbdbdb;
  
  /* Set the desired scale value for elements with the notSelected class */
    transition: box-shadow .5s,  opacity 0.15s, background-color 0.15s, color 0.15s, transform .5s ease;
  
  }

  .icons {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .2rem;
  }

}


.tabs {
  overflow: hidden;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;

}

.container {
  display: flex;
  height: 5rem;
  align-items: flex-end;
  flex-shrink: 0;
  
}




.notSelected:hover {
  box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.1),
               5px 2px 10px rgba(0, 0, 0, 0.1);
   /* Set the scale value for elements with the notSelected class on hover */
}

.content{
  display:flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
}

.marker{
  height: 75%;
  width: 100%;
  position: absolute; 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  transition: transform .2s ease-in-out;
  top:0;
  z-index: 0;
}

.marker #left{
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 0
}

.marker #middle{
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 0;
}

.marker #right{
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 0;
}