@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.container {
  display: flex;
  width: auto;
  justify-content: space-evenly;
    height: 5rem;
    margin-top: 1.5em;
  position: left;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: .5em;
  align-self: center;
  justify-content: center;
}

.box {
  display: flex;
  font-size: small;
  justify-content: center;
  align-self: center;
  width:20%;
}

.link{
  all: unset;
  display: flex;
  font-size: small;
  justify-content: center;
  align-self: center;
  flex-grow: 1;
  font-size: 1.20rem;
}
input[type="radio"]{
  display:none;
}


input[type="radio"]:checked + label {
  border-top: 2px solid #c4c4c4;
  border-radius: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--Dark, #5b5b5b);
}

input[type="radio"]:not(:checked) + label {
  border-bottom: 2px solid #c4c4c4;
  opacity: .5;
  transition: opacity .4s ease-in-out;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Dark, #222);
  box-shadow: 0px 15px 36px -20px #e7e7e7;
  
}

input[type="radio"]:not(:checked) + label:hover {
  opacity: 1;
}

#orientiert{
  visibility: visible;
}

#informiert{
  visibility: visible;
}
#verbunden{
  visibility: visible;
}



@media screen and (max-width: 750px) {
    .title {
      display:none;
  }

  .container {
      width: auto;
  }
  .logo{
      margin: 0;
      margin-bottom: .5em;
      width: 4.5em;
      height: 4.5em; 
  }
  input[type="radio"]:checked + label {
    border-bottom: 2.5px solid #c4c4c4;
    border-top:0px;
    border-radius: 0px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Dark, #5b5b5b);
  }
  .box {
    flex-grow: 1;
  }
}

@media screen and (max-width: 500px) {
  .logo{
  width:2.5em;
  height:2.5em;}
  }