@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

@media (max-width: 450px) {
  tabs {
    width:100%;
    overflow: hidden;
    &.teams {
      font-family: $ms-font-family-fallbacks;
    }
    display: flex;
  }

.container{width:66%;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

  .popup {
    height: 25rem;
    width:80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Segoe UI;
    box-sizing: border-box; 
  }

  input[type="radio"]{
    display: none;
    width: 0;
  }
  .marker{
    height: 75%;
    width: 80%;
    position: absolute; 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    transition: transform .2s ease-in-out;
    top:0;
    z-index: 0;
  }
}

@media (max-width: 950px) {
.tabs {
  overflow: hidden;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

  #siteName {
    visibility: hidden;
  }
  .icons {
    height: 3rem;
    width: 3rem;
    transform: translate(100%);
  }

  .selected {
    position: relative;
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
  
    /* font: */
    color: var(--Dark, #5b5b5b);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .notSelected{
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    z-index: 100;
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

}

@media (width>950px){
  #siteName {
    margin-left: 3px;
  }
  .selected {
    position: relative;
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
  
    /* font: */
    color: var(--Dark, #5b5b5b);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

  }

  .notSelected {
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
  
  }

  .icons {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .2rem;
  }

}

.tabs {
  overflow: hidden;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.notSelected .content{
  opacity: .1;
  transition: opacity .4s ease-in-out;
}
.notSelected .content:hover {
  opacity: 1;
}

.tabs {
background-color: white;

}

.container {
  display: flex;
  height: 5rem;
  align-items: flex-start;
  flex-direction: row; 
  justify-content: space-evenly;
  position: relative;
  padding-top: .5rem;
}

.content{
  display:flex;
  align-items: center;
  justify-content: center;

}

a{
  text-decoration: none;
}

.marker{
  height: 75%;
  width: 100%;
  position: absolute; 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  transition: transform .2s ease-in-out;
  top:0;
  z-index: 0;
}

.marker #left{
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 0
}

.marker #middle{
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 0;
}

.marker #right{
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 0;
}