@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@media (width < 900px) {
  #siteName {
    visibility: hidden;
  }
  .icons {
    height: 4.4rem;
    width: 4.4rem;
    margin-right: -4.6rem;
  }

  .selected {
    display: flex;
    height: 4.5rem;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 1rem;
   
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .notSelected{
    display: flex;
    height: 8.8rem;
    width: 8.8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    user-select: none;
    
  
    
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  
  /* Set the desired scale value for elements with the notSelected class */
    transition: box-shadow .5s,  opacity 0.15s, background-color 0.15s, color 0.15s, transform .5s ease;
  }
}

@media (width>900px){
  .selected {
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 1rem;
   
  
    /* font: */
    color: var(--Dark, #5b5b5b);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .notSelected {
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    user-select: none;

    
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300; 
    line-height: normal;
  
  /* Set the desired scale value for elements with the notSelected class */
    transition: box-shadow .5s,  opacity 0.15s, background-color 0.15s, color 0.15s, transform .5s ease;
  
  }

  .icons {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .2rem;
  }

}
.selected .icons {
  visibility: hidden;
}

.notSelected .content {
  opacity: 1;
}

.tabs {
  overflow: hidden;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.tabs {
background-color: white;
width: 100%;
}

.container {
  display: flex;
  height: 5rem;
  width: auto;
  align-items: flex-start;
  flex-direction: row; 
  justify-content: space-evenly;
  position: relative;
  padding-top: .5rem;
}

.content{
  display:flex;
  align-items: center;
  justify-content: center;
  opacity: .4; 
  transition: opacity .4s ease-in-out;
}
.content:hover{
  opacity: 1; 
}

a{
  text-decoration: none;
}

.marker{
  height: 4rem;
  width: auto;
  position: absolute; 
  display: flex; 
  flex-direction: row;
  transition: transform .2s ease-in-out;
  top:0;
  opacity: .8;
}

.marker #right, .marker #left{
  background-color: white;
  
  // border: 1px solid #e7e7e7;
}

.marker #left{
  width: calc(66%);
  border-radius: 32px;
  border-bottom: 2px solid #e7e7e7;
  border-top-right-radius: 0px;
  // box-shadow: -21px 1px 12px;
  box-shadow: #ebebeb;


}

.marker #middle{
  width: calc(50%);
  border-top: 3px solid #e7e7e7;
  border-radius: 32px;
}

.marker #right{
  width: calc(66%);
  border-bottom: 2px solid #e7e7e7;
  border-radius: 32px;
  border-left-style:none;
 box-shadow: 21px 3px 12px;
  border-top-left-radius: 0px;
  box-shadow: #ebebeb;

}

