@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@media (width < 900px) {
  #siteName {
    visibility: hidden;
  }
  .icons {
    height: 4.4rem;
    width: 4.4rem;
    margin-right: -4.6rem;
  }

  .selected {
    display: flex;
    height: 4.5rem;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
   
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .notSelected{
    display: flex;
    height: 8.8rem;
    width: 8.8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    user-select: none;
    
  
    
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (width>900px){
  .selected {
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    z-index: 100;
   
  
    /* font: */
    color: var(--Dark, #5b5b5b);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .notSelected {
    display: flex;
    height: 3rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    user-select: none;
    // pointer-events: auto;
    // transition: opacity 0.4s ease-in-out;  
    

    
  
    /* font: */
    color: var(--Dark, #222);
    font-family: Segoe UI;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300; 
    line-height: normal;
  
  }

  .icons {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .2rem;
  }

}

.selected .icons {
  visibility: hidden;
}


.tabs {
  overflow: hidden;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.tabs {
background-color: white;
width: 100%;
}

.container {
  display: flex;
  height: 5rem;
  width: auto;
  align-items: flex-start;
  flex-direction: row; 
  justify-content: space-evenly;
  position: relative;
  padding-top: .5rem;
}

.content{
  display:flex;
  align-items: center;
  justify-content: center;

}

a{
  text-decoration: none;
}

.marker{
  height: 75%;
  width: 100%;
  position: absolute; 
  display: flex; 
  flex-direction: row;
  transition: transform .2s ease-in-out;
  top:0;
  z-index: 0;

}

.marker #left{
  background-color: transparent;
  z-index: 0
}

.marker #middle{
  background-color: transparent;
  z-index: 0
}

.marker #right{
  background-color: transparent;
  z-index: 0

}

